.contact-us-inner {
    background: url("../images/contact-us-backgraund.jpg") no-repeat center center;
    background-size: cover;
    padding: 254px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-us-inner__title {
    margin-bottom: 24px;
    color: var(--gold);
    font-family: Cormorant Upright, sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%; /* 117px */
    letter-spacing: 3.6px;
    text-transform: capitalize;
}

.contact-us-inner__breadcrumbs {
    color: var(--white);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright, sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%; /* 29.9px */
    letter-spacing: 0.92px;
    word-spacing: 8px;
    text-transform: capitalize;
}

