*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --gold: #DCCA87;
    --grey: #AAA;
    --grey2: #272727;
    --white: #ffffff;
    --white2: #F5EFDB;
    --translucent: rgba(255, 255, 255, 0.10);
    --black: #0C0B08;
    --black2: #0C0C0C;
}

body {
    background-color: var(--black);
    font-family: Open Sans, sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;


}


::selection {
    color: var(--white);
}


img {


}

img,
picture {
    display: block;
    shape-margin: 0.75rem;
    max-width: 100%;
    height: auto;
    font-style: italic;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;

}

.list {
    list-style: none;
    margin: 0;
}

.link {
    text-decoration: none;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}


button{
    cursor: pointer;
    border: none;
    display: block;
}


.container {
    padding: 0 120px;
    margin: auto;
    width: 100%;
    position: relative;
}


.title{
    font-family: 'Cormorant Upright', serif;
}