.header-inner {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    z-index: 0;
    height: 100vh;
    background-image:
            url("../images/bar-vector1.png"),
            url("../images/bar-vector2.png");
    background-position:
            top right,
            top 115px left;
    background-repeat:
            no-repeat,
            no-repeat;
}


.header-inner__logo {
    font-family: 'Cormorant Upright', sans-serif;
    font-size: 44px;
    line-height: 57.2px;
    font-weight: 700;
    letter-spacing: 1.76px;
}

.menu-list {
    display: flex;
    gap: 32px;
}

.menu-list__link {
    letter-spacing: 0.64px;
}

.menu-widget {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 600;
}

svg.menu-widget__stick {
    stroke: var(--white);
}

.menu-widget__phone-number {
    font-weight: 400;
}
