



@media screen and (max-width: 1680px){

    .container {
        padding: 0 60px;
    }

    .header-inner {
        padding: 18px 0;
    }
}

@media screen and (max-width:1440px) {

    .menu-list__link, .menu-widget {
        font-size: 14px;
    }

}


@media screen  and (max-width: 1100px){

    .container {
        padding: 0px 30px;
    }

    .menu-list {
        gap: 12px;
    }

    .menu-list__link, .menu-widget {
        font-size:14px;
    }

    .menu-widget {
        gap: 20px;
    }
}

@media screen  and (max-width: 768px){

    .header-inner {
        padding: 9px 0;
    }

    .menu-list__link, .menu-widget__phone-number, .menu-widget__stick {
        display: none;
    }
}

@media screen  and (max-width: 425px){

    .container {
        padding: 0px 15px;
    }


}


