body {
    z-index: 3;
    height: 100vh;
    background-image:
            url("../images/bar-vector1.png"),
            url("../images/bar-vector2.png");
    background-position:
            top right,
            top 115px left;
    background-repeat:
            no-repeat,
            no-repeat;
}

.header-inner {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner__logo {
    padding: 10px;
}

.header_background {
    background-color: var(--black2);
}

.menu-list {
    display: flex;
    gap: 22px;
}

.menu-list__link {
    padding: 10px;
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
}

.menu-widget {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
}

.menu-widget__lang{
    padding: 10px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

svg.menu-widget__stick {
    stroke: var(--white);
}

.menu-widget__phone-number {
    padding: 10px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.mobile-button-open, .mobile-button-close {
    padding: 10px;
    background-color: transparent;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 9px 0;
    overflow-y: scroll;
    background-color: var(--black2);
}
.menu-list__mobile {
    flex-direction: column;
    align-items: center;
    gap: 55px !important;
    margin-top: 55px;

}

.mobile-button-close {
    margin-left: auto;
}

body.menu-open {
    overflow: hidden;
}

@media screen and (max-width: 1680px){

    .container {
        padding: 0 60px;
    }

    .header-inner {
        padding: 18px 0;
    }
}

@media screen and (max-width:1440px) {

    .menu-list__link, .menu-widget {
        font-size: 14px;
    }

}


@media screen  and (max-width: 1100px){

    .container {
        padding: 0px 30px;
    }

    .menu-list {
        gap: 12px;
    }

    .menu-list__link, .menu-widget {
        font-size:14px;
    }

    .menu-widget {
        gap: 20px;
    }

    .menu-widget {
        display: flex;
    }

    .header-inner__logo {
        width: 27%;
    }

    .header-inner__logo img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .mobile-button-open {
        display: none;
    }
}

@media screen  and (max-width: 768px){

    .header-inner {
        padding: 9px 0;
    }

    .menu-list__link, .menu-widget__phone-number, .menu-widget__stick {
        display: none;
    }

    .menu-widget {
        display: none;
    }

    .header-inner__logo {
        width: 200px;
    }

    .header-inner__logo img {
        width: inherit;
    }

    .mobile-button-open {
        display: block;
    }
}

@media screen  and (max-width: 425px) {

    .container {
        padding: 0px 15px;
    }
}
