@media screen and (max-width: 1680px) {

    .hero-inner {
        gap: 120px;
        margin: 60px 0 190px 0;
    }

    .hero-inner__content {
        width: 400px;
    }

    .hero-inner-hashtag {
        left: 0px;
    }

    .sample-subtitle {
        font-size: 18px;
    }

    .hero-inner__title {
        margin-bottom: 20px;
        font-size: 80px;
    }

    .hero-inner__text {
        margin-bottom: 20px;
    }

    .hero-inner__img {
        width: 35%;
        padding: 21px;
    }
}

@media screen and (max-width: 1440px) {

    .hero-inner {
        gap: 85px;
        margin: 40px 0 150px 0;
    }

    .hero-inner-hashtag {
        top: 215px;
        font-size: 16px;
    }

    .hero-inner__content {
        width: 310px;
    }

    .sample-subtitle {
        font-size: 16px;
    }

    .hero-inner__title {
        margin-bottom: 16px;
        font-size: 60px;
    }

    .hero-inner__text {
        margin-bottom: 16px;
        font-size: 14px;

    }

    .sample-link {
        padding: 6px 26px;
        font-size: 14px;
    }

    .hero-inner__img {
        width: 30%;
        padding: 15px;
    }
}

@media screen and (max-width: 1100px) {

    .hero-inner-hashtag {
        display: none;
    }

    .hero-inner__img {
        width: 35%;
    }
}


@media screen and (max-width: 768px) {

    .hero-inner {
        gap: 64px;
        margin: 15px 0 100px 0;
    }

    .hero-inner__content {
        width: 265px;
    }

    .sample-subtitle {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .spoon {
        margin-bottom: 5px;
    }

    .hero-inner__title {
        margin-bottom: 8px;
        font-size: 50px;
    }

    .hero-inner__text {
        margin-bottom: 8px;
    }

    .hero-inner__img {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {

    .hero-inner {
        flex-direction: column;
        padding: 0 35px;
        margin: 15px 0 50px 0;
    }

    .hero-inner__content {
        width: auto;
    }

    .hero-inner__img {
        width: 100%;
        padding: 20px;
    }

}

@media screen and (max-width: 500px) {

    .hero-inner {
        gap: 64px;
    }

    .hero-inner__img {
        padding: 15px;
    }
}

