/*Positioning*/
/*Display & Box Model*/
/*Color*/
/*Text*/
/*Other*/
.hero-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    margin: 89px 0 244px 0;

}

.hero-inner-hashtag {
    position: absolute;
    top: 328px;
    left: 54px;
    display: flex;
    gap: 40px;
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.72px;
}

.hero-inner__content {
    width: 453px;
}

.sample-subtitle {
    margin-bottom: 8px;
    font-family: Cormorant Upright, sans-serif;
    font-variant-numeric: lining-nums tabular-nums;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
}

.spoon {
    margin-bottom: 8px;
}

.spoon_reverse svg {
    transform: rotate(180deg);
}

.spoon_indentation {
    margin-bottom: 32px;
}

.hero-inner__title {
    margin-bottom: 32px;
    color: var(--gold);
    font-family: Cormorant Upright, sans-serif;
    text-transform: capitalize;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 3.6px;
}

.hero-inner__text {
    margin-bottom: 32px;
    color: var(--grey);
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

.hero-inner__img {
    padding: 30px;
    background:url('../images/hero-square1.jpg') no-repeat top right,
    url('../images/hero-square2.jpg') no-repeat bottom left;
    background-size: 50% 50%;
}

@media screen and (max-width: 1680px) {

    .hero-inner {
        gap: 120px;
        margin: 60px 0 190px 0;
    }

    .hero-inner__content {
        width: 400px;
    }

    .hero-inner-hashtag {
        left: 0px;
    }

    .sample-subtitle {
        font-size: 18px;
    }

    .hero-inner__title {
        margin-bottom: 20px;
        font-size: 80px;
    }

    .hero-inner__text {
        margin-bottom: 20px;
    }

    .hero-inner__img {
        width: 35%;
        padding: 21px;
    }
}

@media screen and (max-width: 1440px) {

    .hero-inner {
        gap: 85px;
        margin: 40px 0 150px 0;
    }

    .hero-inner-hashtag {
        top: 215px;
        font-size: 16px;
    }

    .hero-inner__content {
        width: 310px;
    }

    .sample-subtitle {
        font-size: 16px;
    }

    .hero-inner__title {
        margin-bottom: 16px;
        font-size: 60px;
    }

    .hero-inner__text {
        margin-bottom: 16px;
        font-size: 14px;

    }

    .sample-link {
        padding: 6px 26px;
        font-size: 14px;
    }

    .hero-inner__img {
        width: 30%;
        padding: 15px;
    }
}

@media screen and (max-width: 1100px) {

    .hero-inner-hashtag {
        display: none;
    }

    .hero-inner__img {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {

    .hero-inner {
        gap: 64px;
        margin: 15px 0 100px 0;
    }

    .hero-inner__content {
        width: 265px;
    }

    .sample-subtitle {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .spoon {
        margin-bottom: 5px;
    }

    .hero-inner__title {
        margin-bottom: 8px;
        font-size: 50px;
    }

    .hero-inner__text {
        margin-bottom: 8px;
    }

    .hero-inner__img {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {

    .hero-inner {
        flex-direction: column;
        padding: 0 35px;
        margin: 15px 0 50px 0;
    }

    .hero-inner__content {
        width: auto;
    }

    .hero-inner__img {
        width: 100%;
        padding: 20px;
    }

}

@media screen and (max-width: 500px) {

    .hero-inner {
        gap: 64px;
    }

    .hero-inner__img {
        padding: 15px;
    }
}