/*Positioning*/
/*Display & Box Model*/
/*Color*/
/*Text*/
/*Other*/

.hookah-inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 66px;
    background: url("../images/hookah-background.jpg") no-repeat center center;
    background-size: cover;
}

.hookah-inner__content1 {
    position: relative;
    left: 110px;
    text-align: right;
    width: 523px;
}

.hookah-inner__content2 {
    position: relative;
    right: 110px;
    width: 523px;
}

.hookah-inner__title {
    margin-bottom: 8px;
    color: var(--gold);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 130%; /* 83.2px */
    letter-spacing: 1.92px;
    text-transform: capitalize;
}

.hookah-inner__text {
    margin: 32px 0;
    color: var(--grey);
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
}

.hookah-inner__link {
    display: inline-block;
    padding: 8px 32px;
    background: var(--gold);
    color: var(--black);
    text-align: center;
    font-family: Cormorant Upright, sans-serif;
    font-weight: 700;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
}

.hookah-inner__logo {
    position: absolute;
    z-index: -1;

}

.hookah-inner__photo {
    position: relative;
    z-index: 0;
}


